/*
 * ZYNQ Pluto+ (Z7010/AD9363) - Maia SDR
 *
 * Copyright (C) 2021 Howard Su
 * Copyright (C) 2023 Daniel Estevez <daniel@destevez.net>
 *
 * Licensed under the GPL-2.
*/
/dts-v1/;
#include "zynq-pluto-sdr-revc.dts"
#include "zynq-plutoplus.dtsi"

&amba {
        /* Delete PL AXI Quad SPI, which only appears in the Rev. C Device Tree (the AXI
        SPI isn't present in the Maia SDR FPGA design). */
        /delete-node/ spi@7C430000;

        /* Delete axi_tdd, which only appears in the Rev. C Device Tree and the
        IP core isn't present in the Maia SDR FPGA design. */
        /delete-node/ axi-tdd-0@7C440000;
        /delete-node/ iio_axi_tdd_0@0;
};

/* The differences between the ADALM Pluto and the Pluto+ device tree can be
found in https://github.com/plutoplus/plutoplus/blob/master/patches/linux.diff
*/

// Delete gpio-hog's for gpio0
&gpio0 {
        /delete-node/ clock_extern_en;
        /delete-node/ clock_internal_en;
};

/ {
        aliases {
                ethernet0 = &gem0;
                mmc0 = &sdhci0;
        };
};

&gem0 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_gem0_default>;
        phy-mode = "rgmii-id";
        phy-handle = <&ethernet_phy>;
        ethernet_phy: ethernet-phy@1 {
                reg = <1>;
                device_type = "ethernet_phy";
        };
};

&uart1 {
        u-boot,dm-pre-reloc;
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_uart1_default>;
};

&sdhci0 {
        status = "okay";
        disable-wp;
};

&usb0 {
        xlnx,phy-reset-gpio = <&gpio0 46 0>;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_usb0_default>;
};

/* TODO: perhaps the pinctrl is not needed if the FSBL sets up the MIOs as
 required. */

&pinctrl0 {
        pinctrl_gem0_default: gem0-default {
                mux {
                        function = "ethernet0";
                        groups = "ethernet0_0_grp";
                };

                conf {
                        groups = "ethernet0_0_grp";
                        slew-rate = <0>;
                        io-standard = <1>;
                };

                conf-rx {
                        pins = "MIO22", "MIO23", "MIO24", "MIO25", "MIO26", "MIO27";
                        bias-high-impedance;
                        low-power-disable;
                };

                conf-tx {
                        pins = "MIO16", "MIO17", "MIO18", "MIO19", "MIO20", "MIO21";
                        low-power-enable;
                        bias-disable;
                };

                mux-mdio {
                        function = "mdio0";
                        groups = "mdio0_0_grp";
                };

                conf-mdio {
                        groups = "mdio0_0_grp";
                        slew-rate = <0>;
                        io-standard = <1>;
                        bias-disable;
                };
        };

        pinctrl_usb0_default: usb0-default {
                mux {
                        groups = "usb0_0_grp";
                        function = "usb0";
                };

                conf {
                        groups = "usb0_0_grp";
                        slew-rate = <0>;
                        io-standard = <1>;
                };

                conf-rx {
                        pins = "MIO29", "MIO31", "MIO36";
                        bias-high-impedance;
                };

                conf-pull-up {
                        pins = "MIO46";
                        bias-pull-up;
                };

                conf-tx {
                        pins = "MIO28", "MIO30", "MIO32", "MIO33", "MIO34",
                        "MIO35", "MIO37", "MIO38", "MIO39";
                        bias-disable;
                };
        };

        pinctrl_gpio0_default: gpio0-default {
                mux {
                        function = "gpio0";
                        groups = "gpio0_7_grp", "gpio0_11_grp", "gpio0_14_grp", "gpio0_46_grp";
                };

                conf {
                        groups = "gpio0_7_grp", "gpio0_11_grp", "gpio0_14_grp", "gpio0_46_grp";
                        slew-rate = <0>;
                        io-standard = <1>;
                };

                conf-pull-up {
                        pins = "MIO14";
                        bias-pull-up;
                };

                conf-pull-none {
                        pins = "MIO7", "MIO11";
                        bias-disable;
                };
        };

        pinctrl_sdhci0_default: sdhci0-default {
                mux {
                        groups = "sdio0_2_grp";
                        function = "sdio0";
                };

                conf {
                        groups = "sdio0_2_grp";
                        slew-rate = <0>;
                        io-standard = <1>;
                        bias-disable;
                };

                mux-cd {
                        groups = "gpio0_47_grp";
                        function = "sdio0_cd";
                };

                conf-cd {
                        groups = "gpio0_47_grp";
                        bias-high-impedance;
                        bias-pull-up;
                        slew-rate = <0>;
                        io-standard = <1>;
                };
        };

        pinctrl_uart1_default: uart1-default {
                mux {
                        groups = "uart1_1_grp";
                        function = "uart1";
                };

                conf {
                        groups = "uart1_1_grp";
                        slew-rate = <0>;
                        io-standard = <1>;
                };

                conf-rx {
                        pins = "MIO13";
                        bias-high-impedance;
                };

                conf-tx {
                        pins = "MIO12";
                        bias-disable;
                };
        };
};
